.footer-distributed {
  bottom: 0;
  left: 0;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 55px 10px 55px;

  .footer-left,
  .footer-center,
  .footer-right {
    display: inline-block;
    vertical-align: top;
  }

  /* Footer left */

  .footer-left {
    width: 40%;

    /* The company logo */

    h3 {
      color: #ffffff;
      font: normal 36px "Cookie", cursive;
      margin: 0;

      span {
        color: #5383d3;
      }
    }
    /* Footer links */

    .footer-links {
      color: #ffffff;
      margin: 20px 0 12px;
      padding: 0;

      a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
      }
    }
  }
  /* Footer Center */

  .footer-center {
    width: 35%;
    display: inline-block;

    .footer-localization {
      i {
        .fa-map-maker {
          font-size: 40px;
        }
      }
    }
    .footer-contact {
      i {
        color: rgba(255, 209, 82, 1);
        font-size: 25px;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;

        .fa-envelope {
          font-size: 170px;
          line-height: 38px;
        }
      }
    }
    p {
      display: inline-block;
      color: #ffffff;
      vertical-align: middle;
      margin: 0;

      span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
      }

      a {
        color: #5383d3;
        text-decoration: none;
      }
    }
  }

  /* Footer Right */

  .footer-right {
    width: 20%;

    .footer-company-about {
      line-height: 20px;
      color: #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
      span {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }

    .footer-icons {
      margin-top: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 2px;
        font-size: 35px;
        color: rgba(255, 209, 82, 1);
        text-align: center;
        line-height: 35px;
        margin-right: 20px;
        &:hover {
          color: antiquewhite;
        }
      }
    }
  }
  .footer-company-name {
    display: flex;
    justify-content: center;
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 10px;
  }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
