.container_menu {
  padding: 15px 15px 15px 15px;
  max-width: 100%;
}

a {
  text-decoration: none;

  color: rgba(255, 209, 82, 1);
}

a:hover,
a :focus {
  color: rgba(255, 209, 82, 1);
}

.menu-navigation a {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.35s ease;
  margin: 10px;
  font-size: 20px;
  color: rgba(255, 209, 82, 1);
}

.menu-navigation a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background 0.35s ease;
}

.menu-navigation a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: rgba(255, 209, 82, 1);
  transition: width 0.35s ease;
}

.menu-navigation a:hover:before {
  width: 100%;
  background: rgba(255, 209, 82, 1);
  transition: width 0.35s ease;
}

.menu-navigation a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

.menu-navigation a i {
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(40, 38, 39, 1);
  // border-radius: 5px;
  // -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 1);
  // -moz-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 1);
  // box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 1);

  z-index: 3;
  will-change: transform;
  transition: background 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav ul li {
  float: none;
  margin-left: 0;
}

.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: rgba(255, 209, 82, 0.8);
  transition: all 0.25s;
}

ul.menu-navigation:before {
  content: "";
  display: table;
  clear: both;
}

ul.menu-navigation.collapse {
  max-height: 250em !important;
}

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 15px;
  width: 30px;
  cursor: pointer;
  padding: 15px 10px;
}

.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}

.signature {
  position: fixed;
  font-weight: 100;
  bottom: 10px;
  color: #8d8273;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 576px) {
  .container_menu {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  header nav ul li a {
    display: block;
    padding: 0.425rem 0rem;
  }

  .container_menu:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 768px) {
  .container_menu {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_menu:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 992px) {
  .container_menu {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_menu:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  .container_menumenu {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_menu:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 768px) {
  header nav ul li {
    float: left;
    margin-left: 1rem;
  }
  header nav ul li a {
    display: block;
  }
}

@media (max-width: 768px) {
  ul {
    clear: both;
  }
  ul li {
    padding: 0.5em 0;
  }
}

.hide-nav {
  transform: translateY(-120%) !important;
  -webkit-transform: translateY(-120%) !important;
}

ul.menu-navigation {
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}
@media (min-width: 768px) {
  ul.menu-navigation {
    display: flex !important;
    align-items: center;
    justify-content: center;
    max-height: none;
  }
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
